[Unit]
Description=Live Encoder
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=live
ExecStart=/usr/bin/bash /home/live/livego-scripts/live.sh

[Install]
WantedBy=multi-user.target
